/*Mobile Fist*/

html
{
  height: 100%; 
}

img
{
  width: 100%;
}

#bg
{ 
  /* The image used */
  background-image: url('../img/iitbackground.jpg');
  
  height: 100%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#formbg
{
  background-color: white;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.8);
  border-radius: 25px;
  position: relative;
  top: 40%;
  width: 300px;
  margin: 0 auto;
}

form
{
  margin: 0 auto;
  width: 300px;
}

fieldset
{ 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

legend
{
  padding: 10px;
  text-align: center;
  font-size: 2em;
}

p
{
  padding-bottom: 20px;
}

input
{
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px; 
}

input[type=text] 
{
  background-color: white;
  background-image: url('../img/person.png');
  background-size: 35px;
  background-position: 5px 5px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type=password] 
{
  background-color: white;
  background-image: url('../img/lock.png');
  background-size: 25px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type=submit], input[type=reset] 
{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 20px 2px;
  cursor: pointer;
  width: 75px;
}

@media only screen and (min-width: 800px) 
{
  #bg
  { 
    /* The image used */
    background-image: url('../img/iitbackground.jpg');

    /* Full height */
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}