body 
{
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}

#page 
{
	background: url("../images/bg-home.jpg") no-repeat scroll center top #000000;
	margin: auto;
	overflow: hidden;
	padding: 0;
	width: auto;
	z-index: 3;
}

a 
{
	text-decoration: none;
	outline: none;
}

img 
{
	border: none;
}

/*-------------------------------------------FONTS---------------------------------------------*/
@font-face 
{
	font-family: 'audiowide-regular-webfont';
	src: url('../fonts/audiowide-regular-webfont.eot');
	src: url('../fonts/audiowide-regular-webfont.woff') format('woff'), url('../fonts/audiowide-regular-webfont.ttf') format('truetype'), url('../fonts/audiowide-regular-webfont.svg') format('svg');
}
/*---------------------------------------END FONTS--------------------------------------------*/

/*----------------------------------------HEADER-----------------------------------------------*/

#header
 {
	background: url(../images/bg-transparent1.png) repeat;
	margin: auto;
	text-align: center;
	min-height: 60px;
	padding: 0;
	width: 1800px;
}

#header div 
{
	margin: 0 auto;
	max-width: 940px;
	min-height: 60px;
	padding: 0 10px;
}

#header div a.logo 
{
	display: block;
	float: left;
	height: 60px;
	margin: 0 44px 0 0;
	padding: 0;
	width: 304px;
}

#header div a img
 {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}

#header div ul 
{
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
}

#header div ul li 
{
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}

#header div ul li a 
{
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 59px;
	margin: 0;
	min-height: 60px;
	padding: 0 24px;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}

#header div ul li a:hover 
{
	background-color: #620031;
	color: #ffffff;
}

#header div ul li.selected a 
{
	background-color: #000000;
	color: #a3a3a3;
}
/*------------------------------------END HEADER----------------------------------------------*/

/*---------------------------------------BODY--------------------------------------------------*/
#body 
{
	background-color: #000000;
	margin: 0;
	min-height: 808px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#body.home 
{
	background: none;
	margin: 0;
	min-height: 1308px;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#body.home .header 
{
	background: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#body.home .header div 
{
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 0 10px;
	position: relative;
}

#body.home .header div h1 
{
	color: #FFFFFF;
    display: block;
    float: left;
    font-family: audiowide-regular-webfont;
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
    margin: 187px 0 27px;
    padding: 10px 10px 10px 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    z-index: 60;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#body.home .header div h3 
{
	background: url("../images/bg-transparent1.png") repeat;
	color: #A3A3A3;
	float: left;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 96px 0 0;
	min-height: 27px;
	padding: 17px 0 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 940px;
}

#body.home .header div ul 
{
	list-style: none outside none;
	margin: 0 0 -6px;
	overflow: hidden;
	padding: 0;
	width: 1000px;
}

#body.home .header div ul li 
{
	display: inline-block;
	border: medium none;
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}

#body.home .header div ul li a 
{
	display: inline-block;
	float: none;
	height: 200px;
	margin: 0;
	padding: 0;
	width: 235px;
}

#body.home .body
{
    background-color: #630031;
    margin: auto;
    text-align: center;
    min-height: 168px;
    overflow: hidden;
    padding: 0;
	width: 1800px;
}

#body.home .body div
{
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 31px 10px 0;
}

#body.home .body div h1
{
	color: #FFFFFF;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 auto 24px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 780px;
}

#body.home .body div p 
{
	color: #ffffff;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 780px;
}

#body.home .body div p a 
{
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-decoration: underline;
}

#body.home .body div p a:hover 
{
	color: #a3a3a3;
}

#body.home .footer 
{
	background-color: #000000;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

#body.home .footer div 
{
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 32px 0 16px;
}

#body.home .footer div ul 
{
	display: inline-block;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}

#body.home .footer div ul li:first-child 
{
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 460px;
}

#body.home .footer div ul li
{
	float: left;
	margin: 0 0 0 10px;
	padding: 0 0 0 20px;
	width: 440px;
}

#body.home .footer div ul li h1 
{
	color: #FFFFFF;
	font-family: audiowide-regular-webfont;
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 0 44px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}

#body.home .footer div ul li a 
{
	display: block;
	height: 258px;
	margin: 0;
	position: relative;
	padding: 0;
	width: 460px;
}

#body.home .footer div ul li a img 
{
	cursor: pointer;
	opacity: 1.0;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}

#body.home .footer div ul li a:hover img 
{
	opacity: 0.7;
}

#body.home .footer div ul li a span 
{
	background: url(../images/icons.png) no-repeat 0 -152px;
	display: block;
	height: 72px;
	left: 199px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 94px;
	width: 62px;
}

#body.home .footer div ul li a:hover span 
{
	background: url(../images/icons.png) no-repeat 0 -226px;
}

#body.home .footer div ul li ul 
{
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 440px;
}

#body.home .footer div ul li ul li 
{
	border-top: 1px solid #A3A3A3;
	float: none;
	margin: 0;
	overflow: hidden;
	padding: 39px 10px 38px 0;
	width: 440px;
}

#body.home .footer div ul li ul li:first-child
{
	border: medium none;
	margin: 0;
	padding: 0 0 38px;
	width: 440px;
}

#body.home .footer div ul li ul li a 
{
	display: block;
	float: left;
	height: 90px;
	margin: 0 20px 0 0;
	padding: 0;
	width: 100px;
}

#body.home .footer div ul li ul li a img 
{
	cursor: pointer;
	opacity: 1.0;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}

#body.home .footer div ul li ul li a img:hover 
{
	opacity: 0.7;
}

#body.home .footer div ul li ul li h1 
{
	color: #A3A3A3;
	float: left;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0;
	padding: 4px 0 8px;
	text-align: left;
	text-transform: uppercase;
	width: 310px;
}

#body.home .footer div ul li ul li span 
{
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	margin: 0 0 10px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: 310px;
}

#body.home .footer div ul li ul li a.more
 {
	background-color: #3c0f38;
	color: #ffffff;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: 31px;
	line-height: 31px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
}

#body.home .footer div ul li ul li a.more:hover 
{
	background-color: #620031;
}
/*----------------------------------------BODY STYLES---------------------------------------*/

#body .header 
{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
}

#body .header div ul 
{
	display: inline-block;
	max-width: 940px;
	list-style: none outside none;
	margin: 0;
	padding: 3px 10px 0;
}

#body .header div ul li:first-child 
{
	border: none;
	padding: 0 0 38px;
}

#body .header div ul li 
{
	border-top: 1px solid #A3A3A3;
	margin: 0;
	overflow: hidden;
	padding: 38px 0;
	width: auto;
}

#body .header div ul li a {
	display: block;
	float: left;
	height: 217px;
	margin: 0 40px 0 0;
	padding: 0;
	width: 380px;
}
#body .header div ul li a img {
	cursor: pointer;
	filter: alpha(opacity=100);/* Needed for IE8 and old versions */
	opacity: 1.0;
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#body .header div ul li a img:hover {
	filter: alpha(opacity=70);/* Needed for IE8 and old versions */
	opacity: 0.7;
}
#body .header div ul li div {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 520px;
}
#body .header div ul li div h1 {
	color: #A3A3A3;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0 0 26px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: 520px;
}
#body .header div ul li div p {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 41px;
	padding: 0;
	text-align: left;
	width: 520px;
}
#body .header div ul li div p a {
	color: #FFFFFF;
	display: inline;
	float: none;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: auto;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	width: auto;
}
#body .header div ul li div p a:hover {
	color: #a3a3a3;
}
#body .header div ul li div a.more {
	background-color: #3c0f38;
	color: #ffffff;
	display: block;
	float: right;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: 31px;
	line-height: 31px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 120px;
}
#body .header div ul li div a.more:hover {
	background-color: #620031;
}
#body .header div img 
{
	display: block;
	margin: 0 auto;
	padding: 3px 0 0;
	width: 50%;
}
#body .header div h2 {
	color: #A3A3A3;
	display: block;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0 auto;
	padding: 53px 0 27px;
	text-align: center;
	text-transform: uppercase;
	width: 780px;
}

#body .header div p
 {
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto 48px;
	padding: 0;
	text-align: center;
	width: 780px;
}

#body .header div p a 
{
	color: #ffffff;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 auto;
	padding: 0;
	text-decoration: underline;
}

#body .header div p a:hover 
{
	color: #a3a3a3;
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer
 {
	margin: 0;
	padding: 0;
	width: auto;
}

#footer .connect
 {
	background-color: #a3a3a3;
    margin: auto;
    text-align: center;
    min-height: 84px;
    overflow: hidden;
    padding: 0;
    width: 1800px;
}

#footer .connect div
 {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 24px 0 0;
}

#footer .connect div h1 
{
	color: #FFFFFF;
	float: left;
	font-family: audiowide-regular-webfont;
	font-size: 23px;
	font-weight: normal;
	line-height: 23px;
	margin: 0;
	padding: 8px 25px 0 0;
	text-align: right;
	text-transform: uppercase;
	width: 525px;
}

#footer .connect div div 
{
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0 0 0 20px;
	width: 380px;
}

#footer .connect div div a 
{
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 36px;
	margin: 0;
	padding: 0;
	text-indent: -99999px;
	width: 18px;
}

#footer .connect div div a.facebook 
{
	background-position: 0 0;
	margin: 0 0 0 16px;
	width: 18px;
}

#footer .connect div div a.twitter
 {
	background-position: 0 -114px;
	margin: 0 0 0 28px;
	width: 44px;
}

#footer .connect div div a.googleplus 
{
	background-position: 0 -38px;
	margin: 0 0 0 27px;
	width: 37px;
}

#footer .connect div div a.pinterest 
{
	background-position: 0 -76px;
	margin: 0 0 0 29px;
	width: 30px;
}

#footer .connect div div a.facebook:hover 
{
	background-position: -20px 0;
}

#footer .connect div div a.twitter:hover 
{
	background-position: -46px -114px;
}

#footer .connect div div a.googleplus:hover 
{
	background-position: -38px -38px;
}

#footer .connect div div a.pinterest:hover 
{
	background-position: -32px -76px;
}

#footer .footnote 
{
	background-color: #FFFFFF;
    margin: auto;
    text-align: center;
    min-height: 84px;
    overflow: hidden;
    padding: 0;
    width: 1800px;
}

#footer .footnote div 
{
	margin: 0 auto;
	overflow: hidden;
	padding: 34px 0 0;
	width: 960px;
}

#footer .footnote div p 
{
	color: #000000;
	display: block;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 940px;
}
/*------------------------------------END FOOTER---------------------------------------*/
