@media screen and (max-width: 600px) 
{
	body
	{
		background-color: #FFDAB9;
	}
	
	#formTitle
	{
		color: white;
		background-color: #006620;
	}
	
	#info
	{
		background-color: #ffffff;
	}

	
	label 
	{
		display: block;
		text-align: left;
		color: #00b300;
		font-size: 1.3em;
	}
}

#formTitle
{
	font-family: Courier;
	font-size: 2em;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
	width: 400px;
}
  
#info
{
  margin: 1em auto;
  width: 400px;
  background-color: #ffffff;
}

div
{
	margin-top: 1em;		
}

input 
{
  font: 1em sans-serif;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus 
{
  border-color: #000;
}

button 
{
  /* To position the buttons to the same position of the text fields */
   display: block;
   width: 5em;
   margin: 1em auto;
}
