#formTitle
{
	font-family: Courier;
	font-size: 2em;
	font-style: oblique;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 425px;
}
  
#formContent
{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	background-color: #ffffff;
}

div
{
	margin-top: 1em;		
}

label 
{
	display: inline-block;
	text-align: left;
	font-size: 1.3em;
	width: 140px;
}

input 
{
  font: 1em sans-serif;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus 
{
  border-color: #000;
}

button 
{
  /* To position the buttons to the same position of the text fields */
   display: block;
   width: 5em;
   margin: 1em auto;
}

@media only screen and (max-width: 800px) 
{
	body
	{
		background-color: #FFDAB9;
	}
	
	#formTitle
	{
		color: white;
		background-color: #006620;
	}
	
	#formContent
	{
		background-color: #ffffff;
	}
	
	label 
	{
		display: block;
		text-align: left;
		font-size: 1.3em;
		color: green;
	}
	
	button 
	{
		/* To position the buttons to the same position of the text fields */
		margin-left: 0;
		width: 5em;
	}	
}
