#info
{
  /* Just to center the form on the page */
  margin: 1em auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

div
{
  margin-top: 1em;
}

label 
{
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 105px;
  text-align: right;
}

input 
{
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 250px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus 
{
  /* To give a little highlight on active elements */
  border-color: #000;
}

button 
{
  /* To position the buttons to the same position of the text fields */
   display: block;
   width: 100px;
   margin: 1em auto;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) 
{
	input[type=email], input[type=tel], input[type=date] 
	{
		-webkit-appearance: none; -moz-appearance: none;
		display: block;
		margin: 0;
		width: 100%; height: 40px;
		line-height: 40px; font-size: 17px;
		border: 1px solid #bbb;
	}
	
	button[type=submit] 
	{
		-webkit-appearance: none; -moz-appearance: none;
		display: block;
		margin: 1.5em 0;
		font-size: 1em; 
		line-height: 2.5em;
		color: #333;
		font-weight: bold;
		height: 2.5em; 
		width: 100%;
		border: 1px solid #bbb;
		-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	}
}
	
	/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) 
{
	input[type=email], input[type=tel], input[type=date] 
	{
		-webkit-appearance: none; -moz-appearance: none;
		display: block;
		margin: 0;
		width: 100%; height: 40px;
		line-height: 40px; font-size: 17px;
		border: 1px solid #bbb;
	}
	
	button[type=submit] 
	{
		-webkit-appearance: none; -moz-appearance: none;
		display: block;
		margin: 1.5em 0;
		font-size: 1em; 
		line-height: 2.5em;
		color: #333;
		font-weight: bold;
		height: 2.5em; 
		width: 100%;
		border: 1px solid #bbb;
		-webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
	}
}


