#info
{
  /* Just to center the form on the page */
  margin: 1em auto;
  width: 200px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

div
{
  margin-top: 1em;
}

label 
{
  /* To make sure that all labels have the same size and are properly aligned */
  display: block;
  text-align: left;
}

input 
{
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 250px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

input:focus 
{
  /* To give a little highlight on active elements */
  border-color: #000;
}

button 
{
  /* To position the buttons to the same position of the text fields */
   display: block;
   width: 100px;
   margin: 1em auto;
}
