* 
{
	box-sizing:border-box
}

body 
{
	font-family: Verdana,sans-serif;
}

.mySlides 
{
	display:none
}

img 
{
	width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto
}
/* Slideshow container */
.slideshow-container 
{
	max-width: 500px;
	position: relative;
	width: 100%;
	margin: 0 auto; 
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
#dots
{
	text-align: center;
    padding: 10px;
}

.dot 
{
	height: 13px;
	width: 13px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}